
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.bigDiv{
  display: flex;
  justify-content: center;
}

.todo-container {
    /* position: absolute;
    bottom: -50px;
    left: 250px; */
    display: flex;
    justify-content: center;
    flex-direction: column;  
    width: 520px;
    min-height: 550px;
    background: #0b7798;
    text-align: center;
    border-radius: 25px;
    padding-bottom: 40px;
  }
  h1 {
    padding-top: 10px;
    color: #fff;
    font-size: 24px;
  }

.todo-form {
    margin-bottom: 20px;
    
  }
  
  .input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid;
    outline: none;
    width: 400px;
    background: transparent;
    color: #fff;
  }
  ::placeholder {
    color:white;
  }

  .todo-row {
    color: #fff;
    padding: 10px;
  }

  .todo-text {
    float: left;
    text-align: center;
  }

  .close {
    float: right;
    cursor: pointer;
  }
  